body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2em;

}
h2{
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 600;
}

dl, ol, ul{

    padding: 0;
    list-style-type: none;
}

.alert{
    font-size: 14px;
}

label{
    font-weight: 600;
    font-size: 14px;
}
label span{
    color: red;
}
.info{
    font-size: 10px;
    font-weight: 400;
}

.table td, .table th{
    font-size: 12px;
}
.parsley-errors-list li.parsley-required {
    color: #f00;
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-weight: 300;
}

footer{
    padding-top: 150px;
}
